.purple {
  color: #485fc7 !important;
}

.green {
  color: #00d1b2 !important;
}

.grey-background {
  background: #f6f9fc;
}

.grey {
  background: #f6f9fc;
}

a:not(.button):not(.navbar-item) {
  color: #000;
}

a:hover:not(.button):not(.navbar-item) {
  text-decoration: underline;
}

.content p img {
  border-radius: 4px;
  max-width: 80%;
  display: block;
  margin: 30px auto;
}

.bg-img {
  background-color: #000;
}

.water-polo {
  background: #d6172c;
}

.hero.is-small .hero-body {
  padding-bottom: 0;
}

.bg-img .navbar-menu {
  background: #000;
}

.bg-img .navbar-item,
.bg-img .navbar-link {
  color: #fff;
  background-color: #000;
}

.bg-img .navbar-link.is-active,
.bg-img .navbar-link:focus,
.bg-img .navbar-link:focus-within,
.bg-img .navbar-link:hover,
.bg-img a.navbar-item.is-active,
.bg-img a.navbar-item:focus,
.bg-img a.navbar-item:focus-within,
.bg-img a.navbar-item:hover {
  color: #fff;
  background: rgb(45, 45, 45);
}

.bg-img .is-hoverable:focus {
  background: rgb(45, 45, 45);
}

.bg-img .navbar-dropdown,
.bg-img .navbar-dropdown .navbar-item,
.bg-img .navbar-dropdown .navbar-link {
  color: #fff;
  background: #000;
}

.bg-img .navbar-link:not(.is-arrowless)::after {
  border-color: #fff;
}

.bg-img .button {
  color: #fff;
  background: none;
  font-weight: bold;
}

.bg-img .is-white .button {
  color: #434444;
  background: none;
  font-weight: bold;
}

.water-polo .button:hover {
  color: #d6172c;
}

.bg-img .is-white {
  background: #fff;
  color: #0093e9;
}

.bg-img .title,
.bg-img .subtitle {
  color: #fff;
}

.meets {
  padding: 0.5rem 1rem;
}

.meets .logos {
  filter: grayscale(1);
  opacity: 0.7;
  max-height: 110px;
}

.has-background-light {
  background: #f6f9fc !important;
}

/* Footer */

footer {
  margin-top: 35px;
}

footer a {
  color: #fff !important;
}

footer img {
  max-width: 180px;
  filter: grayscale(1);
}

footer .content ul {
  margin-left: 0;
}

footer li {
  list-style: none;
}

.dots {
  background: transparent url("../img/members.png") round 0 0;
  background-size: 30px;
  background-position: left center;
}

.stat h1 {
  font-weight: bold;
  font-size: 2em;
  color: #485fc7;
  background: #e3e3fd;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 2.4em;
  width: 2.4em;
}

.stat .subtitle {
  color: #000;
  margin-top: 20px !important;
  margin-bottom: 10px;
}

hr {
  background-color: #fff;
}

.button.is-danger.is-medium {
  border-bottom: 3px solid #ca3452;
}

.join.button {
  border-radius: 30px;
  margin: 5px;
}

.join.button.is-link {
  background-color: #000;
}

.join.button.is-link:hover {
  background-color: rgb(96, 96, 96);
}

details {
  padding: 10px;
  background: #f6f9fc;
}

details:hover {
  background: #e9ecf0;
}

details:not(:last-child) {
  border-bottom: 1px solid #fff;
}

details > summary:hover {
  cursor: pointer;
}

details > summary {
  list-style-type: none;
  font-weight: bold;
}

details[open] > summary {
  margin-bottom: 10px;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: "➕ ";
  font-weight: bold;
}

details[open] > summary::before {
  content: "➖ ";
  font-weight: bold;
}

details > .yes > b {
  color: #3c9662;
}

details > .no > b {
  color: #ff2e2e;
}

.versus a {
  transition: ease-in-out 0.2s;
}

.versus a:hover {
  opacity: 0.7;
  transition: ease-in-out 0.2s;
}

.card {
  box-shadow: none;
}

.card img {
  padding-top: 30px;
}

.hero-head .navbar-burger {
  height: initial;
  align-items: stretch;
  color: #fff;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.columns p {
  margin-top: auto;
}

.message {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
}

tbody > tr > :nth-child(4) {
  background-color: #f6f9fc;
}

.goggles {
  background: transparent url("../img/ball.png") round 0 0;
  background-color: #f6f9fc;
  background-size: 30px;
  background-position: left center;
}

@media screen and (min-width: 1024px) {
  .goggles {
    background: transparent url("../img/ball.png") round 0 0;
    background-color: #f6f9fc;
    background-size: 30px;
    background-position: left center;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
}

.shadow {
  border-radius: 4px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
}

.border-left {
  padding: 35px 0.75rem;
  border-left: 1px solid #00d1b2;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (min-width: 1024px) {
  .news-image {
    object-fit: cover;
    width: 90%;
    height: 450px;
  }
}

.news-image:hover {
  opacity: 0.8;
}

.bg-img .button-main,
.button-main {
  background-color: #e6ff00 !important;
  border: #e6ff00 !important;
  border-radius: 0;
  color: #000 !important;
  text-transform: uppercase;
}

.bg-img .button-main:hover,
.button-main:hover {
  opacity: 0.9;
}

.top b {
  color: #485fc7 !important;
  text-transform: uppercase;
}

.top h1 {
  margin-top: 0 !important;
  text-transform: uppercase;
}

.partnership {
  opacity: 0.7;
}

.partnership img {
  height: 35px;
  width: auto;
  filter: grayscale(1);
}

.partnership .field {
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid img {
  margin-top: 20px;
}
