<details>
  <summary>Is the team open to the general public?</summary>
  <p>
    No, UWSWP is a university team open exclusively to students enrolled at the
    University of Warwick.
  </p>
</details>
<details>
  <summary>Do you have to book sessions to train?</summary>
  <p>
    Yes, you must book a <code>Zz Swimming Club</code> or
    <code>Zz Water Polo</code> slot on the Warwick Sport website before turning
    up to training.
  </p>
</details>
<details>
  <summary>Where does the team train?</summary>
  <p>
    At the Sports and Wellness Hub (University of Warwick Cryfield Village,
    Leighfield Rd, Coventry CV4 7EU).
  </p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2204.694776001403!2d-1.5710503158269484!3d52.377536863607645!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdcfc3b01eb15b2ff!2sSports%20and%20Wellness%20Hub!5e0!3m2!1sen!2suk!4v1629904054418!5m2!1sen!2suk"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
</details>
<details>
  <summary>Can members of staff from the University join?</summary>
  <p>
    No, UWSWP is a university team open exclusively to students enrolled at the
    University of Warwick.
  </p>
</details>
<details>
  <summary>Is it possible to do both swimming and water polo?</summary>
  <p>Yes, UWSWP members can do both swimming and water polo.</p>
</details>
<details>
  <summary>
    Should I COVID test/be vaccinated before going to trainings and socials?
  </summary>
  <p>
    If you are not fully vaccinated, you are required to present a negative
    COVID test prior to training.
  </p>
</details>
<details>
  <summary>
    I am a beginner in swimming/water polo, will I be able to keep up with the
    rest?
  </summary>
  <p>
    We are a diverse and exciting club full of opportunities for people of all
    abilities so don't be afraid to come along.
  </p>
</details>
<details>
  <summary>Will trainings/competitions take place normally this year?</summary>
  <p>
    In line with the Student Union and the Unversity's regulations, all
    trainings and competitions should take place accordingly.
  </p>
</details>
