<details>
  <summary>I am not a competitive swimmer. Can I still join your club?</summary>
  <p>
    Of course! You can be any level of swimmer to join our club: We have 3
    squads: Competitive, Club & Development.
  </p>
    Club is for those who no longer want to compete or have a strong swimming
    background (can swim for 1.5 hours with regular breaks). The Development
    Squad has a minimum requirement of being able to swim 2 lengths of Front
    Crawl, Backstroke, and Breaststroke. You do not have to be able to swim Fly.
  </p>
  <p>
    If you cannot meet the above criteria, we would also highly recommend the
    Warwick Sport Learn to Swim Programmes for adults!
  </p>
</details>

<details>
  <summary>When are the taster sessions being held?</summary>
  <p>
    <ul>
      <li>12:00-12:50 on Saturday the 10th October</li>
      <li>13:00-13:50 on Saturday the 10th October</li>
      <li>13:30-14:20 on Wednesday the 14th October</li>
      <li>14:30-15:20 on Wednesday the 14th October</li>
    </ul>      
  </p>
  <p>You must book onto your preferred time by emailing
    <a href="mailto:jack.turrell@warwick.ac.uk">jack.turrell@warwick.ac.uk</a>.</p>
</details>

<details>
  <summary>How do you sign up for sessions?</summary>
  <p>
    First of all email <a
    href="mailto:jack.turrell@warwick.ac.uk">jack.turrell@warwick.ac.uk</a> to
    express interest of the sessions you wish to attend.
  </p>
  <p>
    Then a week in advance we will post how to book these sessions via
    Warwick Sport on our freshers page: <a
    href="https://www.facebook.com/groups/693368204728901/">https://www.facebook.com/groups/693368204728901/</a>.
  </p>
</details>

<details>
  <summary>Is attendance required?</summary>
  <p class="no">
    <b>No</b>, there are no attendance requirements. You turn up to as many or
    little sessions as you like. We offer the opportunity to see
    swimming sets in advance once you become a member so you can be
    flexible with which sessions you think will benefit you.
  </p>
</details>

<details>
  <summary>When does the swim team train?</summary>
  <p>
    No, UWSWP is a university team open exclusively to students enrolled at the
    University of Warwick.
  </p>
</details>

<details>
  <summary>When does the swim team train?</summary>
  <p>
    No, UWSWP is a university team open exclusively to students enrolled at the
    University of Warwick.
  </p>
</details>
<details>
  <summary>When do the swimming taster sessions take place?</summary>
  <p>
    No, UWSWP is a university team open exclusively to students enrolled at the
    University of Warwick.
  </p>
</details>
