<details>
  <summary>
    Is there a minimum number of sessions I need to attend each week?
  </summary>
  <p>
    We have no set expectations for attendance—we understand that you are all
    hard working students and will often have timetable clashes, so cannot make
    every session. What we do ask is that you attend all sessions that you can
    and are fit for, and that you try your best at every session.
  </p>
  <p>
    With our status as performance development sport there is an expectation for our first teams and scholarship 
    athletes to maintain high attendance.
  </p>
</details>
<details>
  <summary>What do I need to bring to sessions?</summary>
  <p>
    Everyone must have a bottle of water with them at every session, our
    training can be extremely strenuous! For people with long hair, you need to
    have a cap. Suitable water polo attire if you own it, but if not, we will
    try to source you one to use for matches. Goggles are advisable as we can
    sometimes have swim sets. (Side note: Do not bring/wear any jewellery during
    training and matches, and ensure you are nails are short-we run the risk of
    hurting each other otherwise!).
  </p>
</details>
<details>
  <summary>Who coaches the session?</summary>
  <p>
    We have our very own water polo coach called Rob, he is a brand new addition
    to the team as of 2020! He has coached Team GB's Junior Women's Water Polo
    team and was a Team GB standard player himself. We look forward to working
    with him throughout the season. Captains will also be present to coach
    alongside our coach and will also be leading sessions when the coach is not
    present.
  </p>
</details>
<details>
  <summary>Which competitions do we enter as a club?</summary>
  <p>
    For both men's and women's, we have a BUCS 1st team which will be competing
    throughout the first and second term. The women's first team also participate
    in the local Warwickshire league. We also have relaxed game play friendlies
    against other unis that we can host and participate in so there is lots of
    opportunity to get match play in!
  </p>
</details>
<details>
  <summary>Do I have to compete?</summary>
  <p>
    If you do not want to compete we will not force you. As we have 2 BUCS teams
    (women's & men's), there is less pressure if you want to slowly learn the
    pace of the game.
  </p>
</details>
<details>
  <summary>What is the selection procedure for the competitive squads?</summary>
  <p>
    This is currently under review but it will be a fluid process. Teams are not
    set in stone.
  </p>
</details>
