<section class="section is-small">
  <div class="content container is-max-desktop">
    <div class="columns is-vcentered">
      <div class="column">
        <img src="/img/swimmer.webp" alt="" class="shadow" />
      </div>
      <div class="column has-text-centered">
        <h1 class="title">🏊 🤽</h1>
        <p>
          Whether you are new to swimming or water polo, or looking to perfect
          your sport and compete at a high-level, you have come to the right
          place. Join us and jump in!
        </p>

        <a
          href="https://www.warwicksu.com/societies-sports/sports-clubs/swimming/#org-join"
          class="button join is-link"
          >Buy Sports Membership
          <ion-icon name="chevron-forward-outline"></ion-icon
        ></a>

        <figure>
          <p>
            <ion-icon name="checkmark-circle" class="green"></ion-icon>
            Inclusive training environment
          </p>
          <p>
            <ion-icon name="checkmark-circle" class="green"></ion-icon> Open to
            all levels and abilities
          </p>
        </figure>
      </div>
    </div>
  </div>
</section>
