<p>
  <ion-icon name="checkmark-circle" class="green"></ion-icon> Check out our
  Facebook, Instagram and Twitter pages to keep up to date!
</p>
<p>
  <ion-icon name="checkmark-circle" class="green"></ion-icon> Attend sports fair
  – come over and visit our stand where you can meet the exec, and sign up to
  our mailing list for regular updates (first Tuesday of term in the Sports
  Centre)
</p>
<p>
  <ion-icon name="checkmark-circle" class="green"></ion-icon> Look out for the
  leaflets! – during fresher’s fortnight we’ll be coming round to every
  accommodation on campus to spread the word and give out information leaflets
</p>
<p>
  <ion-icon name="checkmark-circle" class="green"></ion-icon> Check dates and
  times for taster sessions
</p>
<p>
  <ion-icon name="checkmark-circle" class="green"></ion-icon> Attend taster
  session (if not – a regular session)
</p>
<p>
  <ion-icon name="checkmark-circle" class="green"></ion-icon> Come to our annual
  Fresher’s Social – a guaranteed good night out, see the socials tab for more
  details
</p>
<p>
  <ion-icon name="checkmark-circle" class="green"></ion-icon> Become a lifelong
  member of WUFF!
</p>
