<footer class="footer has-background-black has-text-white">
  <div class="content container is-max-desktop">
    <div class="columns">
      <div class="column bottom">
        <p>
          &copy; {{ now.Format "2006"}} UWSWP<br />
        </p>
      </div>
      <div class="column">
        <b>Links</b>
        <ul>
          <li><a href="/"> Home </a></li>
          <li><a href="/about"> About us </a></li>
          <li><a href="/about"> Meet the exec </a></li>
          <li><a href="/freshers"> Freshers </a></li>
          <li><a href="/swimming"> Swimming </a></li>
          <li><a href="/water-polo"> Water polo </a></li>
          <li><a href="/news"> News </a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd0rPWCJ6iY8NpLCjzzwgA9VINNMf079i1YsZwkFTAUL9uqrQ/viewform"> Welfare </a></li>
        </ul>
      </div>
      <div class="column">
        <b>More</b>
        <ul>
          <li><a href="/news"> News </a></li>
          <li><a href="https://warwick.ac.uk/services/sport/active/campus/teamwarwick/scholarships/"> Sports scholarship </a></li>
          <li><a href="mailto:uwswp@gmail.com">Contact Us</a></li>
          <li>
            <a
              href="https://www.warwicksu.com/societies-sports/sports-clubs/swimming/#org-join"
              >Buy Sports Membership</a
            >
          </li>
        </ul>
      </div>
      <div class="column">
        <b>Social media</b>
        <ul>
          <li>
            <a
              href="https://www.facebook.com/groups/{{ .Site.Params.facebook_username }}"
            >
              Facebook
            </a>
          </li>
          <li>
            <a
              href="https://instagram.com/{{ .Site.Params.instagram_username }}"
            >
              Instagram
            </a>
          </li>
          <li>
            <a href="https://twitter.com/{{ .Site.Params.twitter_username }}">
              Twitter
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
