<section class="section">
  <div class="content container is-max-desktop">
    <div class="columns">
      <div class="column">
        <h1>1️⃣ Buy Membership</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt culpa,
          cupiditate, illo sapiente, quis reiciendis cum similique doloribus
          animi totam laborum praesentium natus porro incidunt voluptatem ipsum
          eligendi voluptates minima.
        </p>
        <a href="" class="button is-link is-medium">Buy Membership</a>
      </div>
      <div class="column">
        <img
          src="https://user-images.githubusercontent.com/18099289/130612462-445fe29b-7838-4afa-8b42-509813a674ec.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="content container is-max-desktop">
    <div class="columns">
      <div class="column">
        <img
          src="https://user-images.githubusercontent.com/18099289/130612992-27df97fb-fd94-40d7-8cd2-94b95bb55b62.png"
          alt=""
        />
      </div>
      <div class="column">
        <h1>2️⃣ Purchase SU Membership</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt culpa,
          cupiditate, illo sapiente, quis reiciendis cum similique doloribus
          animi totam laborum praesentium natus porro incidunt voluptatem ipsum
          eligendi voluptates minima.
        </p>
        <a href="" class="button is-link is-medium">Purchase SU Membership</a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="content container is-max-desktop">
    <div class="columns">
      <div class="column">
        <h1>3️⃣ Book Swimming Session</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt culpa,
          cupiditate, illo sapiente, quis reiciendis cum similique doloribus
          animi totam laborum praesentium natus porro incidunt voluptatem ipsum
          eligendi voluptates minima.
        </p>
        <a href="" class="button is-link is-medium">Book Swimming Session</a>
      </div>
      <div class="column">
        <img
          src="https://user-images.githubusercontent.com/18099289/130612462-445fe29b-7838-4afa-8b42-509813a674ec.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
