<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img
          src="https://user-images.githubusercontent.com/18099289/181894615-d139e2c1-ccea-4c94-9749-0092d3a02313.png"
        />
      </a>
      <a role="button" class="navbar-burger" aria-label="menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item"> Home </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/about" class="navbar-item"> About </a>
        </div>
        <a href="/freshers" class="navbar-item"> Freshers </a>
        <a href="/swimming" class="navbar-item"> Swimming </a>
        <a href="/water-polo" class="navbar-item"> Water Polo </a>
        <a href="/news" class="navbar-item"> News </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd0rPWCJ6iY8NpLCjzzwgA9VINNMf079i1YsZwkFTAUL9uqrQ/viewform" class="navbar-item"> Welfare </a>
        <a href="https://warwick.ac.uk/services/sport/active/campus/teamwarwick/scholarships/" class="navbar-item"> Scholarship </a>
      </div>

      <div class="navbar-end">
        <a href="/contact" class="navbar-item">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</nav>
