<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img
          src="https://user-images.githubusercontent.com/18099289/181894615-d139e2c1-ccea-4c94-9749-0092d3a02313.png"
        />
      </a>
      <a role="button" class="navbar-burger" aria-label="menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item"> Home </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/about" class="navbar-item"> About </a>
        </div>
        <a href="/freshers" class="navbar-item"> Freshers </a>
        <a href="/swimming" class="navbar-item"> Swimming </a>
        <a href="/water-polo" class="navbar-item"> Water Polo </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd0rPWCJ6iY8NpLCjzzwgA9VINNMf079i1YsZwkFTAUL9uqrQ/viewform" class="navbar-item"> Welfare </a>
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> More </a>

          <div class="navbar-dropdown">
            <a href="/socials" class="navbar-item"> Socials </a>
            <a href="/charity" class="navbar-item"> Charity </a>
            <a href="/sponsor" class="navbar-item"> Sponsorship </a>
            <a href="/images" class="navbar-item"> Images </a>
            <a href="/news" class="navbar-item"> News & Events </a>
            <hr class="navbar-divider" />
            <a href="/login" class="navbar-item"> Login </a>
          </div>
        </div> -->
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/contact" class="button">Contact Us</a>
            <a
              href="https://www.warwicksu.com/societies-sports/sports-clubs/swimming/#org-join"
              class="button is-white"
              >Buy Sports Membership</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
