<meta name="description" content="Welcome to the University of Warwick Swimming and Water Polo Club. Two sports in one club. From competitive swimming to our leading development team.">
<meta name="keywords" content="swimming, water polo, University of Warwick, university, warwick, uk universities, warwick university, uk, universities, uk university">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">

<meta property="og:title" content="Sports Clubs | University of Warwick Swimming &amp; Water Polo Club">
<meta property="og:description" content="Welcome to the University of Warwick Swimming and Water Polo Club. Two sports in one club. From competitive swimming to our leading development team.">
<meta property="og:image" content="https://uwswp.co.uk/img/swimmer.png">
<meta property="og:url" content="https://uwswp.co.uk">

<meta name="twitter:title" content="Sports Clubs | University of Warwick Swimming &amp; Water Polo Club">
<meta name="twitter:description" content="Welcome to the University of Warwick Swimming and Water Polo Club. Two sports in one club. From competitive swimming to our leading development team.">
<meta name="twitter:url" content="https://uwswp.co.uk/img/swimmer.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@uwswp">
<meta name="twitter:creator" content="@uwswp">
