<meta name="description" content="Welcome to the University of Warwick Swimming and Water Polo Club. Two sports in one club. From competitive swimming to our leading development team.">
<meta name="keywords" content="swimming, water polo, University of Warwick, university, warwick, uk universities, warwick university, uk, universities, uk university">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
