<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
      Sports Clubs | University of Warwick Swimming &amp; Water Polo Club
    </title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma-social@2/css/all.min.css"
    />
    {{ $css := "css/main.css" | relURL }}
    <link rel="stylesheet" href="{{ $css }}" />
  </head>

  <body>
    <section class="hero is-small bg-img">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img
                  src="https://user-images.githubusercontent.com/18099289/181894615-d139e2c1-ccea-4c94-9749-0092d3a02313.png"
                />
              </a>
              <a role="button" class="navbar-burger" aria-label="menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>

            <div class="navbar-menu">
              <div class="navbar-start">
                <a href="/" class="navbar-item"> Home </a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a href="/about" class="navbar-item"> About </a>
                </div>
                <a href="/freshers" class="navbar-item"> Freshers </a>
                <a href="/swimming" class="navbar-item"> Swimming </a>
                <a href="/water-polo" class="navbar-item"> Water Polo </a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSd0rPWCJ6iY8NpLCjzzwgA9VINNMf079i1YsZwkFTAUL9uqrQ/viewform" class="navbar-item"> Welfare </a>
                <!-- <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link"> More </a>

                  <div class="navbar-dropdown">
                    <a href="/socials" class="navbar-item"> Socials </a>
                    <a href="/charity" class="navbar-item"> Charity </a>
                    <a href="/sponsor" class="navbar-item"> Sponsorship </a>
                    <a href="/images" class="navbar-item"> Images </a>
                    <a href="/news" class="navbar-item"> News & Events </a>
                    <hr class="navbar-divider" />
                    <a href="/login" class="navbar-item"> Login </a>
                  </div>
                </div> -->
              </div>

              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a href="/contact" class="button">Contact Us</a>
                    <a
                      href="https://www.warwicksu.com/societies-sports/sports-clubs/swimming/#org-join"
                      class="button is-white"
                      >Buy Sports Membership</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="hero-body has-text-centered">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column">
              <h1 class="title">UNIVERSITY OF WARWICK SWIMMING & WATER POLO</h1>
              <p class="subtitle">
                Welcoming swimming & water polo players of all skill levels at
                the University of Warwick
              </p>
              <a
                href="https://www.warwicksu.com/societies-sports/sports-clubs/swimming/#org-join"
                class="button is-white"
                target="_blank"
                rel="noopener"
                >Buy Sports Membership</a
              >
            </div>
            <div class="column">
              <img src="/img/swimmer.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section meets">
      <div class="content container is-max-desktop">
        <div class="columns is-vcentered">
          <div class="column has-text-centered">
            <img class="logos" src="/img/meets.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <img src="/img/start.webp" alt="" />

    <section class="section is-medium">
      <div class="content container is-max-desktop">
        <img src="/img/banner.png" alt="" />
        <h1>We are WUFF</h1>
        <p>
          We are a diverse and exciting club full of opportunities for people of
          all abilities so don't be afraid to come along and see what you are
          made of! From fantastic socials, to charity events, inter sports club
          activities and even our annual domestic and foreign tours - our club
          is friendly, fun and is one of the largest clubs on campus. Here you
          will always feel welcome, whether you're a seasoned veteran or a brand
          new fresher! The club has been a key part of our time at uni providing
          fun, fitness, life long friends and support. It will become your
          extended family, and we hope you will join us too. So what are you
          waiting for? Jump in and become a WUFF member for life!
        </p>

        <div class="has-text-centered">
          <a
            class="button join is-link"
            href="https://www.warwicksu.com/societies-sports/sports-clubs/swimming/#org-join"
          >
            Buy Sports Membership
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </a>
          <a class="button join is-white" href="mailto:uwswp@gmail.com">
            Contact us <ion-icon name="chevron-forward-outline"> </ion-icon>
          </a>
        </div>
      </div>
    </section>

    <section class="section is-medium has-background-light">
      <div class="content container stat">
        <div class="columns">
          <div class="column">
            <div class="dots">
              <h1 class="title">{{ .Site.Params.number_of_active_members }}</h1>
            </div>
            <h2 class="subtitle">Active Members</h2>
            <p>
              UWSWP is one of the largest societies at the University of
              Warwick. On average, we welcome 30 new members every year ranging
              from experienced athletes to newcomers.
            </p>
          </div>
          <div class="column">
            <div class="dots">
              <h1 class="title">∞</h1>
            </div>
            <h2 class="subtitle">Years Undefeated In Varsity</h2>
            <p>
              Every year, UWSWP go head-to-head with Coventry University. To
              date, UWSWP remains undefeated against Coventry University's swim
              team.
            </p>
          </div>
          <div class="column">
            <div class="dots">
              <h1 class="title">12</h1>
            </div>
            <h2 class="subtitle">Times Edwin Regrets Swimming Fly</h2>
            <p>
              Seriously, Edwin?! Did you really think swimming fly sets all day
              was going to be fun?
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section is-medium">
      <div class="content container is-max-desktop">
        <div class="columns is-vcentered">
          <div class="column">
            <img src="/img/swimmer.webp" alt="" class="shadow" />
          </div>
          <div class="column has-text-centered">
            <h1 class="title">🏊 🤽</h1>
            <p>
              Whether you are new to swimming or water polo, or looking to
              perfect your sport and compete at a high-level, you have come to
              the right place. Join us and jump in!
            </p>

            <a
              href="https://www.warwicksu.com/societies-sports/sports-clubs/swimming/#org-join"
              class="button join is-link"
              >Buy Sports Membership
              <ion-icon name="chevron-forward-outline"></ion-icon
            ></a>

            <figure>
              <p>
                <ion-icon name="checkmark-circle" class="green"></ion-icon>
                Inclusive training environment
              </p>
              <p>
                <ion-icon name="checkmark-circle" class="green"></ion-icon> Open
                to all levels and abilities
              </p>
            </figure>
          </div>
        </div>
      </div>
    </section>

    <section class="hero is-medium goggles">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column content">
              <h1 class="title purple">Water Polo</h1>
              <p>
                Water polo at Warwick offers not only competition and training
                at the highest university level, but also a fantastic social
                team atmosphere for players of all levels of ability. From
                players competing in the British National League and European
                semi-professionals who trained in the youth divisions of the
                world’s best clubs to complete novices who never held a water
                polo ball before joining, we are a diverse group united by our
                strong bond to our sport and team.
              </p>
              <a href="/water-polo" class="button join is-link"
                >Learn more
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </a>
            </div>
            <div class="column has-text-centered">
              <img class="shadow" src="img/water-polo.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="content container is-max-desktop">
        <div class="columns is-vcentered">
          <div class="column has-text-centered">
            <figure class="image is-128x128 is-inline-block" style="margin: 0">
              <img src="img/wellfare.webp" />
            </figure>
            <p>
              Concerned about your and your peers' wellbeing? Fill the Anonymous
              welfare form.
            </p>

            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSd0rPWCJ6iY8NpLCjzzwgA9VINNMf079i1YsZwkFTAUL9uqrQ/viewform"
              target="_blank"
              rel="noopener"
              class="button join is-link"
              >Welfare Form
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="hero has-background-light testimonial">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <p class="subtitle">
            <span class="font-bold has-text-link is-size-5">&#8220; </span>I
            like swimming with the development squad, as it is a fun and relaxed
            environment, in which there is no judgement. Students coaching
            students means the sessions are pretty chill but can also be
            challenging and very social. The coaches also help to improve
            individual strokes and overall swimming technique.<span
              class="font-bold has-text-link is-size-5"
            >
              &#8221;</span
            >
          </p>
          <div
            class="is-flex is-align-items-center is-justify-content-start mt-4"
          >
            <a href="#" class="image is-48x48">
              <img
                alt="profil"
                src="https://user-images.githubusercontent.com/18099289/185199436-5c624c2f-9837-4923-859e-66ca6c0910d3.png"
                class="is-rounded"
              />
            </a>
            <div
              class="is-flex is-flex-direction-column ml-2 is-align-content-space-between"
            >
              <span class="font-semibold has-text-weight-bold"> Lucy </span>
              <span
                class="is-size-7 is-flex is-align-items-center has-text-link"
              >
                Development Squad
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="content container is-max-desktop has-text-centered">
        <h1>Follow us!</h1>
        <p>Follow UWSWP on all the socials to stay up to date</p>

        <a
          href="https://www.facebook.com/groups/{{ .Site.Params.facebook_username }}"
          target="_blank"
          rel="noopener"
          class="button is-medium is-facebook is-light"
        >
          <span class="icon">
            <ion-icon name="logo-facebook"></ion-icon>
          </span>
          <span>Facebook</span>
        </a>

        <a
          href="https://instagram.com/{{ .Site.Params.instagram_username }}"
          target="_blank"
          rel="noopener"
          class="button is-medium is-instagram is-light"
        >
          <span class="icon">
            <ion-icon name="logo-instagram"></ion-icon>
          </span>
          <span>Instagram</span>
        </a>

        <a
          href="https://twitter.com/{{ .Site.Params.twitter_username }}"
          target="_blank"
          rel="noopener"
          class="button is-medium is-twitter is-light"
        >
          <span class="icon">
            <ion-icon name="logo-twitter"></ion-icon>
          </span>
          <span>Twitter</span>
        </a>
      </div>
    </section>

    {{ partial "footer.html" . }}

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script>
      document
        .querySelector(".navbar-burger")
        .addEventListener("click", function (e) {
          e.target.classList.toggle("is-active");
          document.querySelector(".navbar-menu").classList.toggle("is-active");
        });
    </script>
    <script
      defer
      data-domain="uwswp.co.uk"
      src="https://plausible.io/js/plausible.js"
    ></script>
  </body>
</html>
