<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
      Sports Clubs | University of Warwick Swimming &amp; Water Polo Club
    </title>
    {{ partial "seo.html" . }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma-social@2/css/all.min.css"
    />
    {{ $css := "css/main.css" | relURL }}
    <link rel="stylesheet" href="{{ $css }}" />
  </head>

  <body>
    <section class="hero is-small bg-img">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img
                  src="https://user-images.githubusercontent.com/18099289/181894615-d139e2c1-ccea-4c94-9749-0092d3a02313.png"
                />
              </a>
              <a role="button" class="navbar-burger" aria-label="menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>

            <div class="navbar-menu">
              <div class="navbar-start">
                <a href="/" class="navbar-item"> Home </a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a href="/about" class="navbar-item"> About </a>
                </div>
                <a href="/freshers" class="navbar-item"> Freshers </a>
                <a href="/swimming" class="navbar-item"> Swimming </a>
                <a href="/water-polo" class="navbar-item"> Water Polo </a>
                <a href="/news" class="navbar-item"> News </a>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSd0rPWCJ6iY8NpLCjzzwgA9VINNMf079i1YsZwkFTAUL9uqrQ/viewform"
                  class="navbar-item"
                >
                  Welfare
                </a>
                <a href="https://warwick.ac.uk/services/sport/active/campus/teamwarwick/scholarships/" class="navbar-item"> Scholarship </a>
              </div>

              <div class="navbar-end">
                <a href="/contact" class="navbar-item">Contact Us</a>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="hero-body has-text-centered">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column">
              <img style="height: 110px;"
                  src="https://user-images.githubusercontent.com/18099289/181894615-d139e2c1-ccea-4c94-9749-0092d3a02313.png"
                />
              <h1 class="title">UNIVERSITY OF WARWICK SWIMMING & WATER POLO</h1>
              <p class="subtitle">
                Swimming & water polo of all skill levels
              </p>
              <div class="field">
                <a
                href="https://www.warwicksu.com/societies-sports/sports-clubs/swimming/#org-join"
                class="button is-white button-main"
                target="_blank"
                rel="noopener"
                >Join the team &rarr;</a
              >
              </div>
              <div class="field">
                <small style="color:rgb(200, 200, 200)">Starting at £107.50 annually<sup>*</sup></small>
              </div>
            </div>
            <div class="column">
              <img src="/img/swimmer.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section meets">
      <div class="content container is-max-desktop">
        <div class="columns is-vcentered">
          <div class="column has-text-centered">
            <img class="logos" src="/img/meets.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <!--========================================================
      Latest News
    =========================================================-->

    <section class="section is-small has-background-light">
      <div class="content container is-max-desktop">
        <div class="field top">
          <b>LATEST NEWS</b>
          <h1>WHAT'S GOING ON AT UWSWP</h1>
        </div>
        <div class="columns">
          {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections | first 3 }}
          {{ range $pages.GroupByPublishDate "2006-01" }}
              {{ range sort .Pages "PublishDate" "asc" }}
              {{ $dateTime := .PublishDate.Format "2006-01-02" }}
              {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
                <div class="column">
                  <a href="{{.Page.Params.redirect_url}}">
                    <div class="field">
                      <img class="news-image" src="/img/news/{{.Page.Params.img}}" alt="">
                    </div>
                    <b>{{.Title}}</b>
                  </a>
                </div>
              {{end}}
          {{end}}
        </div>
      </div>

      <div class="field">
        <div class="has-text-centered">
          <a href="/news" class="button join is-black is-outlined">More news &rarr;</a>
        </div>
      </div>
    </section>

    <section class="section is-medium">
      <div class="content container is-max-desktop">
        <!-- <img src="/img/banner.png" alt="" /> -->
        <div class="field top">
          <b>ABOUT US</b>
          <h1>WE ARE WUFF</h1>
        </div>
        <p>
          Join our diverse and exciting club for all abilities and
          unlock your potential. We offer fantastic social events,
          charity activities, inter-sports club events, and annual
          domestic and international tours. With a friendly and fun
          atmosphere, we're one of the largest clubs on campus. Whether
          you're experienced or new, you'll always feel welcome here.
          Our club enriches your university experience, providing
          enjoyment, fitness, lifelong friendships, and support. Be a
          part of our extended family - become a lifelong WUFF member
          today!
        </p>

        <div class="has-text-centered">
          <a
            class="button join is-link"
            href="/about"
          >
            Learn more
            &rarr;
          </a>
          <a class="button join is-white" href="mailto:uwswp@gmail.com">
            Contact us &rarr;
          </a>
        </div>
      </div>
    </section>

    <section class="hero has-background-light testimonial">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <p class="subtitle">
            <span class="font-bold has-text-link is-size-5">&#8220; </span>I
            like swimming with the development squad, as it is a fun and relaxed
            environment, in which there is no judgement. Students coaching
            students means the sessions are pretty chill but can also be
            challenging and very social. The coaches also help to improve
            individual strokes and overall swimming technique.<span
              class="font-bold has-text-link is-size-5"
            >
              &#8221;</span
            >
          </p>
          <div
            class="is-flex is-align-items-center is-justify-content-start mt-4"
          >
            <div class="image is-48x48">
              <img
                alt="profil"
                src="https://user-images.githubusercontent.com/18099289/185199436-5c624c2f-9837-4923-859e-66ca6c0910d3.png"
                class="is-rounded"
              />
            </div>
            <div
              class="is-flex is-flex-direction-column ml-2 is-align-content-space-between"
            >
              <span class="font-semibold has-text-weight-bold"> Lucy </span>
              <span
                class="is-size-7 is-flex is-align-items-center has-text-link"
              >
                Development Squad
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="content container is-max-desktop">
        <div class="columns is-vcentered">
          <div class="column">
            <div class="top">
              <b>ATHLETE HIGHLIGHT</b>
              <h1>MEET JAMES LE GRICE</h1>
            </div>
              <p>James Le Grice, a dedicated and accomplished swimmer,
              began his competitive journey at the age of 8. After a
              brief hiatus, he rediscovered his passion for swimming
              upon joining Warwick.</p>
              <p>Currently pursuing a BSc in Mathematics, James aspires
              to forge a career in the finance industry. His
              analytical mindset, honed through academic pursuits,
              complements his swimming endeavors, driving him to
              constantly refine his skills and strive for excellence
              both in and out of the pool.</p>    
              
              <b>Noteworthy accomplishments:</b>
              <ul>
                <li>8th British Summer Championships 2022 (50m Butterfly)</li>
                <li>22nd British Swimming Commonwealth Trials 2022 (50m Butterfly)</li>
                <li>5th BUCS Long Course (50m Backstroke)</li>
              </ul>
          </div>
          <div class="column">
            <img src="/img/james_le_grice.jpg" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="section is-medium has-background-light">
      <div class="content container is-max-desktop">
        <div class="columns is-vcentered">
          <div class="column">
            <img src="/img/swimmer.webp" alt="" class="shadow" />
          </div>
          <div class="column has-text-centered">
            <h1 class="title">🏊 🤽</h1>
            <p>
              Whether you are new to swimming or water polo, or looking to
              perfect your sport and compete at a high-level, you have come to
              the right place. Join us and jump in!
            </p>

            <a
              href="https://www.warwicksu.com/societies-sports/sports-clubs/swimming/#org-join"
              class="button join is-link"
              >Buy sports membership &rarr;</a>

            <figure>
              <p>
                <ion-icon name="checkmark-circle" class="green"></ion-icon>
                Inclusive training environment
              </p>
              <p>
                <ion-icon name="checkmark-circle" class="green"></ion-icon> Open
                to all levels and abilities
              </p>
            </figure>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="content container is-max-desktop">
        <div class="columns is-vcentered">
          <div class="column">
            <div class="top">
              <b>ATHLETE HIGHLIGHT</b>
              <h1>MEET ISOBEL JAMES</h1>
            </div>
            <p>Isobel James, a skilled water polo player, represented
            the University of Warwick's women's first team while
            pursuing her BSc in Economics. With a background in
            swimming, Isobel seamlessly transitioned into water polo,
            finding the sport to be a natural fit. Under the guidance of
            supportive coaches and experienced teammates, she developed
            her skills and thrived in the training sessions.</p>
            <p>Competing both in friendly matches against local clubs
            and in the BUCS Midlands League 1, Isobel proudly
            represented Team Warwick. The camaraderie within the team
            was exceptional, and the encouragement from the university
            community during matches and Varsity events was motivating.
            Water polo provided Isobel with not only intense training
            and competitive matches but also valuable opportunities to
            form lasting friendships and socialise with diverse
            individuals from across the university.</p>        
          </div>
          <div class="column">
            <img src="/img/isobel.png" alt="">
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="section is-medium has-background-light">
      <div class="content container stat">
        <div class="columns">
          <div class="column">
            <div class="dots">
              <h1 class="title">{{ .Site.Params.number_of_active_members }}</h1>
            </div>
            <h2 class="subtitle">Active Members</h2>
            <p>
              UWSWP is one of the largest societies at the University of
              Warwick. On average, we welcome 30 new members every year ranging
              from experienced athletes to newcomers.
            </p>
          </div>
          <div class="column">
            <div class="dots">
              <h1 class="title">∞</h1>
            </div>
            <h2 class="subtitle">Years Undefeated In Varsity</h2>
            <p>
              Every year, UWSWP go head-to-head with Coventry University. To
              date, UWSWP remains undefeated against Coventry University's swim
              team.
            </p>
          </div>
          <div class="column">
            <div class="dots">
              <h1 class="title">12</h1>
            </div>
            <h2 class="subtitle">Times Edwin Regrets Swimming Fly</h2>
            <p>
              Seriously, Edwin?! Did you really think swimming fly sets all day
              was going to be fun?
            </p>
          </div>
        </div>
      </div>
    </section> -->

    <section class="hero is-medium has-background-light">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column content">
              <div class="top">
                <b>ALL SKILL LEVELS</b>
                <h1>Water Polo</h1>
              </div>
              <p>
                Water polo at Warwick offers not just high-level
                university competition and training, but also a
                fantastic social team atmosphere for players of all
                abilities. Our team consists of a diverse group, ranging
                from players competing in the British National League
                and European semi-professionals with youth training from
                top clubs worldwide, to complete novices who have never
                held a water polo ball before joining. Despite our
                varying backgrounds, we are united by a strong bond to
                our sport and team.
              </p>
              <a href="/water-polo" class="button join is-link"
                >Learn more
                &rarr;
              </a>
            </div>
            <div class="column has-text-centered">
              <img class="shadow" src="img/water-polo.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="section">
      <div class="content container is-max-desktop">
        <div class="columns is-vcentered">
          <div class="column has-text-centered">
            <figure class="image is-128x128 is-inline-block" style="margin: 0">
              <img src="img/wellfare.webp" />
            </figure>
            <p>
              Concerned about your and your peers' wellbeing? Fill the anonymous
              welfare form.
            </p>

            <a
              href="{{ .Site.Params.wellbeing_form }}"
              target="_blank"
              rel="noopener"
              class="button join is-link"
              >Welfare Form
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </a>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section class="section">
      <div class="content container is-max-desktop has-text-centered">
        <h1>Follow us!</h1>
        <p>Follow UWSWP on all the socials to stay up to date</p>

        <a
          href="https://www.facebook.com/groups/{{ .Site.Params.facebook_username }}"
          target="_blank"
          rel="noopener"
          class="button is-medium is-facebook is-light"
        >
          <span class="icon">
            <ion-icon name="logo-facebook"></ion-icon>
          </span>
          <span>Facebook</span>
        </a>

        <a
          href="https://instagram.com/{{ .Site.Params.instagram_username }}"
          target="_blank"
          rel="noopener"
          class="button is-medium is-instagram is-light"
        >
          <span class="icon">
            <ion-icon name="logo-instagram"></ion-icon>
          </span>
          <span>Instagram</span>
        </a>

        <a
          href="https://twitter.com/{{ .Site.Params.twitter_username }}"
          target="_blank"
          rel="noopener"
          class="button is-medium is-twitter is-light"
        >
          <span class="icon">
            <ion-icon name="logo-twitter"></ion-icon>
          </span>
          <span>Twitter</span>
        </a>
      </div>
    </section> -->

    <section class="section">
      <div class="content container is-max-desktop">
        <div class="top">
          <b>FIND US</b>
          <h1>WHERE THE TEAM TRAINS</h1>
        </div>
        <div class="columns">
          <div class="column">
            <img src="https://warwick.ac.uk/services/sport/active/hub/pool.jpg" alt="">
          </div>
          <div class="column">
            <div class="map-responsive">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2204.694776001403!2d-1.5710503158269484!3d52.377536863607645!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdcfc3b01eb15b2ff!2sSports%20and%20Wellness%20Hub!5e0!3m2!1sen!2suk!4v1629904054418!5m2!1sen!2suk"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </div>
          </div>
        </div>

        <p>Our swimming team trains at the state-of-the-art University
        of Warwick's Sports and Wellness Hub. Our training facility
        boasts a 25-meter swimming pool equipped with 12 lanes,
        providing ample space for our dedicated swimmers and
        water-polo players.</p>
        <a href="https://warwick.ac.uk/services/sport/swimming" class="button join is-link"
          >Learn more
          &rarr;
        </a>
      </div>
    </section>

    <section class="section grid">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column">
            <img src="/img/trio.png">
            <img src="/img/team.jpg">
          </div>
          <div class="column">
          </div>
          <div class="column">
            <img src="/img/rob.jpg">
          </div>
        </div>
      </div>
    </section>

    <section class="section partnership has-text-centered">
      <div class="content container is-max-desktop">
        <div class="field">
          <p>IN PARTNERSHIP WITH</p>
        </div>
        <div class="field">
          <div class="columns is-mobile is-centered">
            <div class="column is-narrow">
              <img src="/img/akuma.png">
            </div>
            <div class="column is-narrow">
              <img src="/img/warwick_logo.png">
            </div>
          </div>
        </div>
      </div>
    </section>

    {{ partial "footer.html" . }}

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script>
      document
        .querySelector(".navbar-burger")
        .addEventListener("click", function (e) {
          e.target.classList.toggle("is-active");
          document.querySelector(".navbar-menu").classList.toggle("is-active");
        });
    </script>
    <script
      async
      defer
      src="https://scripts.simpleanalyticscdn.com/latest.js"
    ></script>
    <noscript
      ><img
        src="https://queue.simpleanalyticscdn.com/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
    /></noscript>
  </body>
</html>
