<div class="columns is-vcentered">
    <div class="column">
        <h3>{{ .Site.Params.swimming_coach }} (Head Coach)</h3>
        <p>{{ .Site.Params.swimming_coach_description }}</p>
    </div>
    <div class="column">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541" alt="">
    </div>
</div>

<div class="columns is-vcentered">
    <div class="column">
        <h3>{{ .Site.Params.development_officer }} (Development Officer)</h3>
        <p>{{ .Site.Params.development_officer_description }}</p>
    </div>
    <div class="column">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541" alt="">
    </div>
</div>
