<ul>
  <li>{{ .Site.Params.swimming_president }} (Swimming President)</li>
  <li>{{ .Site.Params.water_polo_president }} (Water Polo President)</li>
  <li>{{ .Site.Params.men_swimming_captain }} (Men's Swimming Captain)</li>
  <li>{{ .Site.Params.women_swimming_captain }} (Women's Swimming Captain)</li>
  <li>{{ .Site.Params.men_water_polo_captain }} (Men's Water Polo Captain)</li>
  <li>{{ .Site.Params.women_water_polo_captain }} (Women's Water Polo Captain)</li>
  <li>{{ .Site.Params.treasurer }} (Treasurer)</li>
  <li>{{ .Site.Params.secretary }} (Club Secretary)</li>
  <li>{{ .Site.Params.publicity_officer }} (Publicity & Campaigns)</li>
  <li>{{ .Site.Params.welfare_officer }} (Welfare Officier)</li>
  <li>{{ .Site.Params.social_secs }} (Social Secs)</li>
  <li>{{ .Site.Params.development_officer }} (Development Officer)</li>
</ul>
