<div class="columns is-vcentered is-mobile">
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" />
    <div class="block">
      <b>{{ .Site.Params.swimming_president }}</b>
      <p>Swimming President</p>
    </div>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" />
    <div class="block">
      <b>{{ .Site.Params.water_polo_president }}</b>
      <p>Water Polo President</p>
    </div>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" />
    <div class="block">
      <b>{{ .Site.Params.men_swimming_captain }}</b>
      <p>Men's Swimming Captain</p>
    </div>
  </div>
</div>

<div class="columns is-vcentered is-mobile">
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" />
    <div class="block">
      <b>{{ .Site.Params.women_swimming_captain }}</b>
      <p>Women's Swimming Captain</p>
    </div>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" />
    <div class="block">
      <b>{{ .Site.Params.men_water_polo_captain }}</b>
      <p>Men's Water Polo Captain</p>
    </div>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" />
    <div class="block">
      <b>{{ .Site.Params.women_water_polo_captain }}</b>
      <p>Women's Water Polo Captain</p>
    </div>
  </div>
</div>

<div class="columns is-vcentered is-mobile">
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" />
    <div class="block">
      <b>{{ .Site.Params.treasurer }}</b>
      <p>Treasurer</p>
    </div>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" />
    <div class="block">
      <b>{{ .Site.Params.secretary }}</b>
      <p>Club Secretary</p>
    </div>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" />
    <div class="block">
      <b>{{ .Site.Params.publicity_officer }}</b>
      <p>Publicity & Campaigns</p>
    </div>
  </div>
</div>

<div class="columns is-vcentered is-mobile">
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" />
    <div class="block">
      <b>{{ .Site.Params.welfare_officer }}</b>
      <p>Welfare Officer</p>
    </div>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" />
    <div class="block">
      <b>{{ .Site.Params.social_secs }}</b>
      <p>Social Secs</p>
    </div>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" />
    <div class="block">
      <b>{{ .Site.Params.development_officer }}</b>
      <p>Development Officer</p>
    </div>
  </div>
</div>
