<div class="columns is-vcentered is-mobile">
  <div class="column">
    <img src="/img/exec/swimming_president.jpg" alt="" />
    <div class="block">
      <b>{{ .Site.Params.swimming_president }}</b>
      <p>Swimming President</p>
      <a href="mailto:{{ .Site.Params.swimming_president_email }}" class="button">{{ .Site.Params.swimming_president_email }}</a>
    </div>
  </div>
  <div class="column">
    <img src="/img/exec/water_polo_president.jpg" alt="" />
    <div class="block">
      <b>{{ .Site.Params.water_polo_president }}</b>
      <p>Water Polo President</p>
      <a href="mailto:{{ .Site.Params.water_polo_president_email }}" class="button">{{ .Site.Params.water_polo_president_email }}</a>
    </div>
  </div>
  <div class="column">
    <img src="/img/exec/men_swimming_captain.jpg" alt="" />
    <div class="block">
      <b>{{ .Site.Params.men_swimming_captain }}</b>
      <p>Men's Swimming Captain</p>
      <a href="mailto:{{ .Site.Params.men_swimming_captain_email }}" class="button">{{ .Site.Params.men_swimming_captain_email }}</a>
    </div>
  </div>
</div>

<div class="columns is-vcentered is-mobile">
  <div class="column">
    <img src="/img/exec/women_swimming_captain.jpg" alt="" />
    <div class="block">
      <b>{{ .Site.Params.women_swimming_captain }}</b>
      <p>Women's Swimming Captain</p>
      <a href="mailto:{{ .Site.Params.women_swimming_captain_email }}" class="button">{{ .Site.Params.women_swimming_captain_email }}</a>
    </div>
  </div>
  <div class="column">
    <img src="/img/exec/men_water_polo_captain.jpg" alt="" />
    <div class="block">
      <b>{{ .Site.Params.men_water_polo_captain }}</b>
      <p>Men's Water Polo Captain</p>
      <a href="mailto:{{ .Site.Params.men_water_polo_captain_email }}" class="button">{{ .Site.Params.men_water_polo_captain_email }}</a>
    </div>
  </div>
  <div class="column">
    <img src="/img/exec/women_water_polo_captain.jpg" alt="" />
    <div class="block">
      <b>{{ .Site.Params.women_water_polo_captain }}</b>
      <p>Women's Water Polo Captain</p>
      <a href="mailto:{{ .Site.Params.women_water_polo_captain_email }}" class="button">{{ .Site.Params.women_water_polo_captain_email }}</a>
    </div>
  </div>
</div>

<div class="columns is-vcentered is-mobile">
  <div class="column">
    <img src="/img/exec/treasurer.jpg" alt="" />
    <div class="block">
      <b>{{ .Site.Params.treasurer }}</b>
      <p>Treasurer</p>
      <a href="mailto:{{ .Site.Params.treasurer_email }}" class="button">{{ .Site.Params.treasurer_email }}</a>
    </div>
  </div>
  <div class="column">
    <img src="/img/exec/secretary.jpg" alt="" />
    <div class="block">
      <b>{{ .Site.Params.secretary }}</b>
      <p>Club Secretary</p>
      <a href="mailto:{{ .Site.Params.secretary_email }}" class="button">{{ .Site.Params.secretary_email }}</a>
    </div>
  </div>
  <div class="column">
    <img src="/img/exec/publicity_officer.jpg" alt="" />
    <div class="block">
      <b>{{ .Site.Params.publicity_officer }}</b>
      <p>Publicity & Campaigns</p>
      <a href="mailto:{{ .Site.Params.publicity_officer_email }}" class="button">{{ .Site.Params.publicity_officer_email }}</a>
    </div>
  </div>
</div>

<div class="columns is-vcentered is-mobile">
  <div class="column">
    <img src="/img/exec/welfare_officer.jpg" alt="" />
    <div class="block">
      <b>{{ .Site.Params.welfare_officer }}</b>
      <p>Welfare Officer</p>
      <a href="mailto:{{ .Site.Params.welfare_officer_email }}" class="button">{{ .Site.Params.welfare_officer_email }}</a>
    </div>
  </div>
  <div class="column">
    <img src="/img/exec/social_sec1.jpg" alt="" />
    <div class="block">
      <b>{{ .Site.Params.social_sec1 }}</b>
      <p>Social Secs</p>
      <a href="mailto:{{ .Site.Params.social_sec1_email }}" class="button">{{ .Site.Params.social_sec1_email }}</a>
    </div>
  </div>
  <div class="column">
      <img src="/img/exec/social_sec2.jpg" alt="" />
      <div class="block">
        <b>{{ .Site.Params.social_sec2 }}</b>
        <p>Social Secs</p>
      <a href="mailto:{{ .Site.Params.social_sec2_email }}" class="button">{{ .Site.Params.social_sec2_email }}</a>
      </div>
    </div>
</div>

<div class="columns is-vcentered is-mobile">
  <div class="column">
    <img src="/img/exec/development_officer.jpg" alt="" />
    <div class="block">
      <b>{{ .Site.Params.development_officer }}</b>
      <p>Development Officer</p>
      <a href="mailto:{{ .Site.Params.development_officer_email }}" class="button">{{ .Site.Params.development_officer_email }}</a>
    </div>
  </div>
  <div class="column"></div>
  <div class="column"></div>
</div>
