<section class="section">
  <div class="content container is-max-desktop has-text-centered">
    <p>Follow UWSWP on all the socials to stay up to date</p>

    <a
      href="https://www.facebook.com/groups/{{ .Site.Params.facebook_username }}"
      target="_blank"
      rel="noopener"
      class="button is-medium is-facebook is-light"
    >
      <span class="icon">
        <ion-icon name="logo-facebook"></ion-icon>
      </span>
      <span>Facebook</span>
    </a>

    <a
      href="https://instagram.com/{{ .Site.Params.instagram_username }}"
      target="_blank"
      rel="noopener"
      class="button is-medium is-instagram is-light"
    >
      <span class="icon">
        <ion-icon name="logo-instagram"></ion-icon>
      </span>
      <span>Instagram</span>
    </a>

    <a
      href="https://twitter.com/{{ .Site.Params.twitter_username }}"
      target="_blank"
      rel="noopener"
      class="button is-medium is-twitter is-light"
    >
      <span class="icon">
        <ion-icon name="logo-twitter"></ion-icon>
      </span>
      <span>Twitter</span>
    </a>
  </div>
</section>
