<section class="hero is-small bg-img water-polo">
  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <img src="/img/wp.png" alt="" />
        </div>
        <div class="column">
          <h1 class="title is-size-1">WATER POLO TEAM</h1>
          <p class="subtitle">26 BUCS games in 2019 with 87 active members</p>
          <a
            href="https://www.warwicksu.com/societies-sports/sports-clubs/swimming/#org-join"
            class="button is-white"
            target="_blank"
            rel="noopener"
            >Buy Sports Membership</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
